.ui-form__formControlLabel {
	@apply block text-sm font-medium text-gray-700;
}

.ui-form__formField {
	@apply block w-full focus:outline-none sm:text-sm rounded-md shadow-sm;

	&.errored {
		@apply border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500;
	}
	
	&:not(.errored) {
		@apply border-gray-300 focus:ring-indigo-500 focus:border-indigo-500;
	}
}

.ui-form__CheckboxField {
	.ui-form__formField {
		@apply focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded ltr:mr-3 rtl:ml-3;
	}

	.ui-form__label {
		@apply block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2;
	}
}

.ui-form__formControlField {
	/* @apply mt-1 relative rounded-md shadow-sm; */
}

.ui-form__helperText {
	@apply mt-2 text-sm text-gray-500;
}

.ui-form__errorMessage {
	@apply mt-2 text-sm text-red-600;
}

.ui-form__formControlField {
	@apply mt-1 block w-full pl-3 ltr:pr-10 rtl:pl-10 py-2 text-base focus:outline-none sm:text-sm rounded-md ;
}